<% include ../head %>

    <ul class="list">
        <% for (var i = 0, length = refuels.length; i < length; i++) { %>
        <li>
            <strong>$<%= refuels[i].get('cost') %></strong>
            <p><%= refuels[i].get('kilometers') %> kms</p>
            <p><%= refuels[i].get('capacity') %> lts</p>
            <p><%=: refuels[i].get('created_at') | date %></p>
            <a href="/refuels/<%= refuels[i].get('_id') %>/delete" class="button-negative" data-ignore="push">Eliminar</a>
        </li>
        <% } %>
    </ul>

<% include ../foot %>    